.cumulative-card{
   color: #264653;
}

.font-color-Active{
    color:#f9c74f
 }
 
 .font-color-Recovered{
     color:#00a896
  }
 
  .font-color-Dead{
     color:#f94144
  }

  .wrapper{
      padding: 1em 0.3em;
  }