<div class="row">
    <div class="d-flex" id="wrapper" [ngClass]="{'toggled': sidebarToggled}">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="sidebar-heading">Admin Dashboard </div>
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" [routerLink]="['manage-patients']">Manage Patients</a>
            <a class="list-group-item list-group-item-action bg-light" [routerLink]="['add-patient']">Add Patient</a>
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
    
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn btn-outline-secondary" id="menu-toggle" (click)="toggleSideBar()">
                <svg class="bi bi-list" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
            </button>
          </nav>
    
          <div class="container-fluid">
           <router-outlet></router-outlet>
          </div>
        </div>
        <!-- /#page-content-wrapper -->
    
      </div>

</div>
