.dashboard-wrapper{
    background-color: #f0efeb;
}

.font-color-active{
   color:#f9c74f
}

.font-color-recovered{
    color:#00a896
 }

 .font-color-dead{
    color:#f94144
 }

 nav span.h4{
     font-size: 1.6em;
 }