<div class="row">
    <div class="col-sm">
        <nav class="navbar navbar-light bg-light">
            <span class="mb-0 h4">Covid 19 Statistics Dashboard - Sri Lanka</span>
        </nav>
        <div class="dashboard-wrapper">
            <div class="row">
                <div class="col">
                    <app-cumulative-stats></app-cumulative-stats>
                    <div *ngIf="isSLowNetwork(); else chartBlock">
                        <app-weekly-summary-list></app-weekly-summary-list>
                    </div>
                    <ng-template #chartBlock>
                        <app-weekly-summary-chart></app-weekly-summary-chart>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>