.chart-wrapper{
    width:80%;
    margin: 0 auto;
    max-height:650px;
    background-color: #f8f9fa;
}

.chart-heading{
    font-size: 1.4em;
    padding:0.2em 1em;
    background-color: #f8f9fa;
}